set nu
set rnu
set scrolloff=15
set ignorecase smartcase
set wrapscan
set surround

set incsearch

nmap <leader>f  :action ReformatCode<CR>
xmap <leader>f  :action ReformatCode<CR>

noremap <C-J> <C-W>j
nnoremap <C-K> <C-W>k
nnoremap <C-L> <C-W>l
nnoremap <C-H> <C-W>h

vnoremap <leader>c "+y
vnoremap <leader>y "+y
nnoremap <leader>yy "+yy
nnoremap <leader>p "+p
vnoremap <leader>p "+p
vnoremap <leader>x "+d
nnoremap <silent> <Esc> :nohl<CR>

nnoremap <C-E> :action GotoNextError<CR>
nnoremap ff :action ShowIntentionActions<CR>

nnoremap gd :action GotoDeclaration<CR>

nnoremap <leader>rn :action RenameElement<CR>
